.wrapper

  = render 'shared/sub_bar'

  .main
    .hi
      .hi-left
        .hi-left_title
          = @group.name
        %ul.hi-left__members
          Member :
          - @group.users.each do |user|
            = user.name
      
      .hi-right
        .hi-right__button
          =link_to "Edit", edit_group_path(@group.id)
 
    .messages
      = render @messages


    .low
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
