.wrapper

  = render 'shared/sub_bar'

  .main
    .hi
      .hi-left
        .hi-left_title
          グループ名
        %ul.hi-left__members
          Menber :
          %ul.member
          メンバー
          %ul.member
          メンバー
          %ul.member
          メンバー
      
      .hi-right
        .hi-right__button
          edit

    = render @messages
    -# .middles    最後に消す
    -#   .middle
    -#     .middle-text
    -#       .middle-text__name
    -#         -# メンバー
    -#       .middle-text__date
    -#         -# 2019
    -#       .middle-comment
    -#       .middle-comment__message
    -#         -# メッセージ
    -#   .middle
    -#     .middle-text
    -#       .middle-text__name
    -#         -# メンバー
    -#       .middle-text__date
    -#         -# 2019
    -#       .middle-comment
    -#       .middle-comment__message
    -#         -# メッセージ
    -#   .middle
    -#     .middle-text
    -#       .middle-text__name
    -#         -# メンバー
    -#       .middle-text__date
    -#         -# 2019
    -#       .middle-comment
    -#       .middle-comment__message
    -#         -# メッセージ

    .low
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
     
