.sub-bar
  .hi
    %h1.hi__name
<<<<<<< HEAD
    = current_user.name
    %ul.hi__lists
      %li.list
        = link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.list
        = link_to edit_user_path(current_user) do
=======
      ddd
    %ul.hi__lists
      %li.list
        =link_to '#' do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.list
        =link_to '#' do
>>>>>>> 52f2bb4bd06e462ec41371729f921836ba4becd8
          = fa_icon 'cog', class: 'icon'

  .groups
    .group
      .group_name
        グループ
      .group_message
        メッセージ
    .group
      .group_name
        グループ
      .group_message
        メッセージ
    .group
      .group_name
        グループ
      .group_message 
        メッセージ